@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Final Project by Jacob and Ryan</h1>
    <p>Based on the data we thought that presence of children and income were the largest factors impacting consumer engagement</p>
</div>
