@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Final Project by Jacob and Ryan</h1>
    <p>
        Based on the available information, household size, presence of children, and income are demographic factors that appear to strongly affect customer engagement for Kroger consumers. 
        Larger households may have different purchasing habits than smaller households, particularly when it comes to buying in bulk or products that are geared towards families. 
        Families with children may have different needs and preferences than those without children, which may affect the products they purchase. 
        Additionally, income is an important factor as consumers with different income levels may have different purchasing habits and preferences. 
        For example, lower-income consumers may prioritize purchasing lower-priced products, while higher-income consumers may be more willing to pay for premium products. 
        Overall, analyzing these demographic factors may provide useful insights into customer behavior for Kroger and help the company better understand and serve its customers.
    </p>
</div>
